<div class="author">
  <div class="author--media">
    {{#if profile_image}}
      <img class="image" src="{{img_url profile_image}}" />
    {{else}}
      <img class="image" src="{{@blog.url}}/shared/img/user-image.png" />
    {{/if}}
  </div>
  <div class="author--info">
    <h5 class="name">{{name}}</h5>
    <p class="bio">{{bio}}</p>
  </div>
</div>
