<ul class="pagination">
  {{#if prev}}
  <li><a href="{{page_url prev}}"><i class="material-icons">chevron_left</i></a>
  {{else}}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a>
  {{/if}}
  <li>Page {{page}} of {{pages}}</li>
  {{#if next}}
  <li><a href="{{page_url next}}"><i class="material-icons">chevron_right</i></a>
  {{else}}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a>
  {{/if}}
</ul>
